[2018-09-21 11:27] MrTommyGuns opened #1 "Renovación y Elección de Cargos"
Como hablamos en la reunión del día 20-9-18 toca renovar los cargos de _Presidente/a_, _Secretario/a_ y _Tesorero/a_.
Para lo cual realizaremos una votación online (probablemente por el Telegram de la Asociación).

A continuación nombraré a las personas que se presentan para cada cargo:

**-Presidente:** David, Pablo
**-Secretario:** Tomás.
**-Tesorero:** JorFru

_**Si alguien más quiere presentar

[2018-09-21 11:39] MrTommyGuns opened #2 "Material Jam Session"
Estaría guay poder conseguir material para las Jam Sessions y que Jorge no se tenga que traer siempre tooodos sus cacharros y poder tirar del material de la aso y de la uni...

De esta forma podríamos organizar más Jams, simplemente se necesitaría gente que quisiera darle caña y no siempre cargaría con el curro la misma persona.

[2018-09-21 11:42] MrTommyGuns opened #3 "Reconquista de Taller"
Este curso parece que hemos empezado con fuerza y tenemos manos nuevas para darle caña a los proyectos por lo que es posible que necesitemos nuestro espacio en el taller...

Por lo cual tendríamos que hablar con las asociaciones que están metidas en el taller con nosotros e intentar que se respeten los espacios.

Aquí la lista de tareas (propuesta por David):

* [x] Hablar con Club de Vuelo para c

[2018-09-21 12:34] David-Estevez commented on #3
Los pasos que yo seguiría serían los siguientes:

* [x] Hablar con Club de Vuelo para conocer su situación actual y unir fuerzas de cara a reivindicaciones. NO POSIBLE
* [ ] Mandar un correo firme pero amistoso solicitando que liberen el espacio que nos corresponde.
* [ ] Si pasaran de nosotros, elevar la queja a África u otro mediador.

Esto es sólo una propuesta, si a alguien se le ocurre un pla

[2018-09-21 12:37] David-Estevez commented on #2
¿Ponemos por aquí propuestas con las que sacar dinero?

A mi se me ocurren un par:
* Un rifa benéfica en la que sorteemos algo y usemos los beneficios para comprar la mesa.
* Conseguir patrocinadores que nos ayuden a costearla.
* Pedir una subvención y cruzar los dedos por si cuela.

[2018-09-21 13:43] JorFru commented on #3
Me estoy encargando de contactar con Club de Vuelo. Aunque ya podéis ir contando con que está bastante muerta.

[2018-09-22 10:18] MrTommyGuns commented on #3
A mi me parece bien ese procedimiento 👌

[2018-09-23 14:18] L4g0 commented on #2
Una amiga me ha comentado que podría estar interesada en comprar un Drawdio ya montado.
Podríamos considerar comprar los componentes para una tanda y venderlos a un módico precio.
Incluso tener la opción de kit para montar y otra ya montado. Yo podría hacer unas instrucciones para el kit si hace falta.

[2018-09-23 14:31] L4g0 opened #4 "Feria de Asociaciones 2018"
Abro este issue para poner todo lo relacionado con la **Feria de Asociaciones** de este año.

Se celebrará el **miércoles 26 de septiembre** en el jardín de Leganés. Se podría considerar ir a Getafe (desconozco el día) si hay gente dispuesta a estar en el stand.
En Lega deberíamos ir turnándonos ya que la feria es de 10 a 19:30. Si podéis estar a las 9 para montar estaría genial.

Qué haremos:

-

[2018-09-23 14:41] L4g0 opened #5 "Hacer saber a la gente de la Newsletter que seguimos vivos"
Habría que mandar una newsletter con un resumen de la reunión, con un link al nuevo sistema de issues, animarles a que se metan al grupo de tg, etc.

[2018-09-23 16:47] David-Estevez commented on #4
Sugiero plantar el stand al lado del de ASROB, así será mejor para turnarnos, ya que podríamos estar en los dos stands a la vez.

[2018-09-23 16:48] David-Estevez commented on #2
Si tan sólo tuviéramos el IceScreamer acabado...

[2018-09-23 18:16] MrTommyGuns commented on #4
Yo puedo encargarme de ir a las 9 (aunque me duela y mucho) y obviamente nos ponemos al lado de Asrob e intentamos poner 2 mesas para cada asoci o 3 para las 2
Que si se monta el guitar hero, cacharros  impresoras, etc... Vamos a estar fastidiados

[2018-09-23 19:24] L4g0 commented on #4
Yo estaré a las 9 sin fallo. Lo de montar al lado de ASROB obvio 👌

[2018-09-24 01:24] JorFru commented on #2
Según lo que se firmó en formalización de la asociación:

Parece que sí podemos recibir donaciones cuando regalemos Drawdios.

[2018-09-24 14:38] JorFru commented on #3
Suena reguetón en el despacho por parte de los moteros.
Añado la etiqueta y elevo la issue a nivel: URGENTE

[2018-09-24 15:47] JorFru opened #6 "Representar a UC3Music en la Bilbao Maker Faire"
Eché el Call4Makers y nos han aceptado.
![imagen](https://user-images.githubusercontent.com/11017088/45962683-b94bb380-c021-11e8-85e8-fef8aa7f84ef.png)
Ofrecen dos plazas, con viaje, comida y alojamiento pagado.

Sugerí que UC3Music llevaría sus típicos cacharros electrónicos.
### Necesitamos a una persona que nos represente en la feria, manteniendo el stand.
### Y otra persona que se encargue de

[2018-09-24 21:15] MrTommyGuns commented on #4
A mi la actividad que más me mola es la del drawdio, seguida de la de las resistencias.
Pero la del drawdio tiene que ser diver

[2018-09-24 21:16] MrTommyGuns commented on #5
Yo diría que la newsletter está ya muerta... Al que le interesa la asociación ya está en el grupo y al que le interesen talleres y Jams no tiene más que seguirnos en las redes...

Así en conclusión me parece que no hace falta.

[2018-09-24 21:18] MrTommyGuns commented on #2
Por mi parte lo de los drawdios si es rentable me parece bien.
Me ofrezco como voluntario para soldar unos cuantos si es necesario 👌👌

[2018-09-24 21:20] MrTommyGuns commented on #3
Tenemos el correo de las asociaciones por ahí a mano?
Podríamos ir haciendo un borrador de correo e ir enviandolo y demás

[2018-09-24 22:50] MrTommyGuns opened #7 "Jameo que te veo"
Estaría guay ir pensado en hacer una Jam de principio de curso después de la semana de asociaciones

[2018-09-24 23:58] JorFru commented on #7
Yo la segunda semana de octubre la tengo bastante disponible para llevar mi mezcladora y organizar un poquiejo.

[2018-09-25 00:08] JorFru commented on #5
Yo creo que Google Groups es ya una vieja gloria.
Tuvo su época de oro con [CloneWars](https://groups.google.com/forum/#!forum/asrob-uc3m-impresoras-3d) con 15.000 topics. Fue un proyecto nacido en la UC3M, concretamente en ASROB.

La lista de correos mola porque tú decides si la quieres o no. Entonces nadie debería de quejarse de intrusismo, porque puedes darte de baja en un click. En redes socia

[2018-09-25 15:49] David-Estevez commented on #5
La idea original del Google Groups no era ser un Newsletter, sino un lugar de discursión, de asistencia técnica y de compartir frikadas que descubrimos. Como tal fracasó, porque a día de hoy no lo usamos ni los que lo creamos.

En su lugar ha resurgido el Telegram, que actualmente cumple esas funciones y bastante bien. Por tanto mi propuesta es cerrar el Google Groups.

[2018-09-26 22:45] L4g0 commented on #4
Bueno, después de una feria con una buena cantidad de nuevos inscritos, podemos cerrar esta issue

[2018-09-26 22:45] #4 closed, assigned to nobody

[2018-09-26 23:35] MrTommyGuns commented on #5
Puess yo diría de o chaparlo o dejarlo ahí, sin más y cerrar esta issue...

Al final lo dicho, entre redes, el grupo de telegram y la forma de llevar el github que estamos adoptando es más que suficiente.

[2018-09-27 15:30] L4g0 opened #8 "Hacer Charlas previstas para la V Semana de Asociaciones"
Parece ser que han suspendido todas las charlas con menos de 10 inscritos, lo que incluye las dos nuestras que teníamos planeadas. En Leganés **solo han sobrevivido 6 actividades**:

LUNES 1 DE OCTUBRE
Se caen todas, incluso la conferencia inaugural.

MARTES 2 DE OCTUBRE
1) Código 45. Charla Python 101. De 11 a 12.30h. Biblioteca Rey Pastor. Sala de Video 3.S1.08. Organiza: Asociación GUL UC3M

2)

[2018-09-27 23:08] MrTommyGuns commented on #8
Preguntamos a África el número de apuntados a nuestras charlas (por curiosidad) y así vemos a la gente que le interesaba o si alguien de las personas a las que no le ha dado palo apuntarse se ha apuntado (?)

[2018-09-27 23:10] MrTommyGuns commented on #1
Creo que tras una semana el que quiera presentarse ya lo ha podido hacer...
¿Procedemos a realizar la votación?  ¿O esperamos a quedar otra vez con los nuevos?

[2018-09-28 19:29] David-Estevez commented on #1
El método que seguimos en ASROB es montar un Google Form con las opciones. No es la única opción, pero lo comento como dato.

Una vez elegido el método podemos hacer la votación.

[2018-09-29 16:30] L4g0 commented on #7
Cosas que hay que hacer:

- [x] Decidir fecha (Doodle, mirar disponibilidad del salón de grados)

- [x] Reservar salón de grados

- [x] Hacer y pegar carteles

[2018-10-01 00:42] JorFru commented on #1
El método Google Form es mi opción preferida para temas importantes. Y dejaría el método @vote de Telegram para las decisiones más livianas.

[2018-10-02 21:38] MrTommyGuns commented on #1
Me parece bien hacer un Form y dejar el bot para cosas más del día a día como comenta Jorfru

[2018-10-03 20:30] L4g0 commented on #7
Voten fecha aquí! https://doodle.com/poll/zqtunkvtzm68c62y

[2018-10-03 20:40] L4g0 commented on #3
## Contactos Taller Compartido
Os dejo los contactillos de la gente, si alguien se anima tenemos que redactar los emails necesarios.
### Club de Vuelo
**email:** clubdevuelo.uc3m@gmail.com
### MOTO-MAQLAB-UC3M:
**página:** https://motomaqlabuc3m.com/
**email:** motomaqlabuc3m@uc3m.es
### Formula UC3M:
**página:** http://formulauc3m.com/ (mmm sin https...)
**email:** contact@formulauc3m.com

[2018-10-03 20:46] L4g0 opened #9 "Actualizar página web"
Nuestra página web (http://music.uc3m.es/) necesita una actualización del contenido o incluso un rediseño más moderno. Me ofrezco a ayudar en lo que haga falta, aunque desconozco de cómo está gestionada ahora mismo.

Cosas que mejoraría (algunas puede que sean técnicamente imposibles)

- [ ] Actualizar contenido

- [ ] Cambiar foto portada (hacer más en jams nuevas)

- [ ] Certificado digital para

[2018-10-03 21:03] L4g0 commented on #6
Yo creo que lo voy a tener complicado para ir, estoy tanteando ir a unos conciertos ese finde...

Not 100% sure

[2018-10-03 21:06] L4g0 commented on #9
![image](https://user-images.githubusercontent.com/23212123/46439444-e9e9c680-c760-11e8-9b73-8ff8f4493b6c.png)

 Por favor, esto no es serio en 2018 😆

[2018-10-04 12:27] JorFru commented on #9
Jejeje de acuerdo en todos los puntos.
La issue convendría ponerla en el repo de la página web, yes.
Te pones con ello @L4g0 ?

[2018-10-04 12:42] jgvictores commented on #9
Os dejo aquí una herramienta sencilla para mover issues entre repos https://github-issue-mover.appspot.com 😊

[2018-10-04 14:07] JorFru commented on #6
Necesito saber el nombre del beneficiario de un viaje pagado a Bilbao.
Urgente.

[2018-10-04 14:08] JorFru commented on #6
@L4g0 mira si te renta cambiar tus conciertos por ir al BIME. La única banda destacable es MGMT, no es un gran cartel este año.

Regalan entradas la organización de la MF a los Makers.

[2018-10-04 14:11] JorFru commented on #3
Yo ya me he encargado de la parte que me asigné: Hablar con club de vuelo. Más en particular he hablado con Jorge, la única persona que me acuerdo de Club de Vuelo. Le he escrito a dos correos, a sus redes sociales. No contesta a nada.

[2018-10-04 18:10] David-Estevez commented on #3
Yo coincidí un día con Jorge y me dijo que lo tenía bastante abandonado con la carrera y otros proyectos personales.

[2018-10-06 15:33] JorFru commented on #3
Entonces vamos a esforzarnos por recuperar nuestro espacio sin ayuda de Club de Vuelo.
Aunque nos ayudasen, no podrían justificar el uso de su espacio.

Pasamos a la siguiente fase:
`Mandar un correo firme pero amistoso solicitando que liberen el espacio que nos corresponde.`

[2018-10-07 09:13] L4g0 commented on #7
Ha ganado el **jueves 25 de octubre de 4 a 8**. Ahora toca hacer la reserva del salón de grados y pensar un cartel.
¿Queremos seguir con el mismo formato de cartel o lo cambiamos?
En caso de seguir, ¿a qué artista ponemos? Podemos votarlo en Telegram

[2018-10-07 09:34] MrTommyGuns commented on #7
Yo voto por el mismo formato

[2018-10-07 10:29] L4g0 commented on #7
Está enviada la petición de reserva del Aula de Grados. Espero confirmación (será el día anterior???)

[2018-10-07 22:04] David-Estevez commented on #3
Yo en el correo pondría dos cosas:

1. Que solicitamos que se respete el espacio de trabajo del resto de asociaciones, liberando el pasillo de objetos para que podamos hacer uso del espacio.
2. Convocar una reunión con ellos para negociarlo en persona.

También quedó pendiente el tema de las banquetas, que creo que seguimos sin tenerlas en el taller.

[2018-10-09 15:12] JorFru opened #10 "UC3Music na OSHWDem18"
Tenemos a ASROB y a UC3Music apuntados a la OSHWDem 2018, lo cual implica 2 plazas por cada asociación + 1 (?) plaza de un taller de UC3Music (esto lo tiene que confirmar @JorFru ).

Como ya hemos ido otros años y nos conocen, @David-Estevez  y yo estamos llevando a cabo las gestiones con ellos. @David-Estevez  y yo podemos estar en cualquiera de las 3 cosas (stand ASROB, stand UC3Music o taller),

[2018-10-09 15:16] David-Estevez commented on #10
Yo! Yo! Yo! :man_cartwheeling:

[2018-10-09 16:16] L4g0 commented on #10
Es el día 10, ¿qué día se saldría de Madrid y se volvería?

[2018-10-09 16:31] JorFru commented on #10
La noche del 9 se cena y se hace una prefiesta.
Yo haría los cálculos para llegar el viernes 9 como muy tarde a las 22h.
Idealmente a las 21h o antes.

[2018-10-09 16:54] L4g0 commented on #10
¿y volver el sábado o el domingo?

[2018-10-09 17:04] JorFru commented on #10
La fiesta imperdible es la noche del sábado 10. Vuelta el domingo, y lo más probable es que la salida sea hacia mediodía. Llegaremos de noche casi seguro el domingo.

[2018-10-09 17:26] MrTommyGuns commented on #10
Yo tengo examen el 9 a última hora así que no puedo

[2018-10-09 18:31] JorFru commented on #10
He añadido información sobre las fechas y horarios en el primer comentario de la issue.

[2018-10-09 18:42] JorFru commented on #10
`1 (?) plaza de un taller de UC3Music (esto lo tiene que confirmar @JorFru ).`
Confirmado @David-Estevez

[2018-10-15 09:40] MrTommyGuns commented on #9
Como comentó @JorFru en el grupo también habría que añadir un enlace al calendario de Uc3Music donde poner las movidas que hagamos y la gente se pueda meter a verlo

[2018-10-18 00:07] L4g0 commented on #7
¡Ya tenemos cartel!
![jamsession13](https://user-images.githubusercontent.com/23212123/47123195-74aae500-d27a-11e8-97b9-49bcc2199bfe.jpg)

**Mañana** de 2 a 3 estoy disponible para pegarlos con quien quiera unirse

[2018-10-18 00:39] JorFru commented on #7
@L4g0 es justo la reunión de FENIX, que es de 13 a 15h

Si te pasas por ahí me recojes de la oreja. Si no, es posible que se me olvide :'-(

[2018-10-18 00:39] JorFru commented on #7
UPDATE me he puesto una alarma en el móvil xD

[2018-10-18 23:15] L4g0 commented on #9
Migrado al repo de la web

[2018-10-18 23:15] #9 closed, assigned to L4g0

[2018-10-19 00:29] JorFru commented on #7
Hoy se han colgado 8 (ocho) carteles a color tamaño A3.
El lunes repetiremos expedición y paga Jorge

[2018-10-19 00:30] JorFru commented on #6
Cancelado el viaje por falta de personal.
Centraremos nuestros esfuerzos en la OSHWDem18 https://github.com/UC3Music/Gestiones-y-Movidas/issues/10

[2018-10-19 00:31] #6 closed, assigned to nobody

[2018-10-19 00:32] L4g0 commented on #7
He creado un evento de fb para intentar moverla un poco, yo suelo encontrar eventos interesantes por ahí e igual a alguien le mola y se viene.

Link aquí: https://www.facebook.com/events/168015890811357/

[2018-10-19 00:33] JorFru commented on #1
Jey!
Yo creo que casi ni hace falta votar.

Sólo hay una opción, y como todos somos Juan Romo, nos podemos quedar.

Pero si consideráis la opción, montamos un form.

[2018-10-19 00:37] JorFru commented on #9
Migrado aquí https://github.com/UC3Music/UC3Music.github.io/issues/21

[2018-10-19 00:41] MrTommyGuns commented on #1
Pues sí, votar teniendo solo una persona para cada cargo es un poco tontería... Y al final los cargos son por poner nombre a los responsables de cada cosa pero nos organizamos a nuestro rollo haciendo cada uno lo que puede y tal, así que como veáis...
Si se vota será solo porque quede formalizado, no por nada más

[2018-10-20 15:50] David-Estevez commented on #1
¿Montamos votación entonces o no?

[2018-10-21 19:07] JorFru opened #11 "Reunión con África post-Semana de Asociaciones"
## Martes, 23 de Octubre a las 13:30 en Getafe, aula 9.1.4

Esta reunión es importante, recordad que en la Semana de Asociaciones no pudimos explicar nuestro proyecto porque se cancelaron las dos actividades donde íbamos a participar: bienvenida de la semana (con una presentación breve) y ~la charla "conoce ASROB" con spam del duro.~ (inserte aquí actividades de UC3Music)
Recordad #8

[2018-10-21 19:10] JorFru commented on #11
Yo no puedo ir porque tengo un curso de 13 a 15 y después clases

[2018-10-21 19:27] MrTommyGuns commented on #11
Jorfru, te has liado, este es el repo de Uc3Music jajaja
Que si es importante también deberíamos ir supongo... 🙄
A mi me fastidia porque tengo 2 exámenes tochos esta semana, no los llevo nada bien y tengo clase de 3 a 9...

[2018-10-21 23:31] MrTommyGuns commented on #11
Me he liado y pensaba que era el lunes, siendo el martes, si nadie puede ir, quizas pueda hacer el esfuerzo e ir yo... Pero no puedo asegurar nada, si voy es decisión de una hora antes jaja

[2018-10-23 09:52] MrTommyGuns commented on #11
Confirmed, voy yo.
Luego pondré por aquí o por el grupo lo que se comente en la reunión.

[2018-10-23 14:04] MrTommyGuns commented on #11
Resumen:
Aunque no ha sido nuestro caso, no se pueden realizar las cosas por cuenta de cada asociación por separado y tenemos que apoyarnos entre las asociaciones porque los de arriba nos ven como una sola entidad y si cae alguna o pasa algo nos repercute a todos.
Las estadísticas de la semana de Asociaciones, aunque han sido peores que las de años pasados, teniendo en cuenta las dificultades por

[2018-10-23 14:08] #11 closed, assigned to MrTommyGuns

[2018-10-24 00:05] JorFru opened #12 "Cartelitos autoexplicables para nuestros proyectos"
Cada vez que vamos a una feria a enseñar nuestros cachivaches, tenemos que gastar mucha saliva. Podemos ahorrarnos esfuerzo si dejásemos lo básico de cada proyecto apuntado en un papelito y que los visitantes entiendan de forma rápida qué hace cada aparato. Y dedicar nuestro esfuerzo en explicar los detalles a las personas interesadas, no repetir una y otra vez lo más básico de cada proyecto.
Esto

[2018-10-24 00:06] L4g0 commented on #12
Lo veo muy bien, podría encargarme de hacer una plantilla, aunque hasta el lunes no es que tenga mucho tiempo libre

[2018-10-24 00:09] MrTommyGuns commented on #12
Me sumo a ello... Yo también puedo hacer algunos...
Diría de hacer una plantilla general y hacer cada una de un color y de puestos podríamos hacer una (o 2 copias por si se pierte) para cada proyecto y platificarlas para tenerlas y que duren.
¿Hay presupuesto de la uni para estas cosas o va a nuestro cargo?

[2018-10-24 08:56] L4g0 opened #13 "¡Camisetas!"
Bueno, habíamos comentado @JorFru y yo que estaría bien hacer un nuevo pedido de camisetas UC3Music.

Creo que tendríamos que elegir si queremos el diseño de las anteriores o cambiarlo y:

- [ ] Elegir proveedor (seguramente el mismo donde se hicieron las de asrob

- [ ] Saber cuánta gente está interesada

- [ ] Pedirlas

[2018-10-24 09:02] MrTommyGuns commented on #13
Yo me apunto!
Ahora, no recuerdo como era el diseño anterior...
Podría molar que la cami en sí, fuera roja, aunque tendría que variar el color del logo en ese caso.
O también blanca con logo en rojo y el transistor en blanco.
Dejo ahí mis 2 sugerencias.

[2018-10-24 09:32] JorFru commented on #12
De los gastos no te preocupes.

[2018-10-24 12:04] David-Estevez commented on #13
La original era blanca con el logo el rojo, para poder aprovechar el color de la camiseta para el transistor.

[2018-10-27 14:49] L4g0 opened #14 "Taller paneles acústicos Open Source (Hertz Lovers)"
Estaría guay y creo que le puede interesar a bastante gente construir unos panelcitos de los de Hertz Lovers (https://www.hertzlovers.com/)

Tal vez lo más fácil serían los "Ultrafusor" (https://www.hertzlovers.com/acoustic-panels/ultrafusor) y los "Super Simply" (https://www.hertzlovers.com/acoustic-panels/supersimply).

Se podría quizás intentar hacerlo en el Maker Space para disponer de cortado

[2018-10-27 14:57] L4g0 opened #15 "Nuevo grupo de trabajo: Synthtesizers"
Bueno, el otro día estuve hablando con Andrés (nuevo en la asoci) y le mola mucho el tema sintetizadores modulares y esas movidas. A mí tb y podría estar bien hacer algún grupillo para la gente que le interese, desarrollar módulos, unirlos y aprender un poco todos el tema de sintes.

Cuando tenga tiempo hago grupo de TG y repo.

[2018-10-29 13:40] JorFru commented on #14
Yo tengo dos ultrafusor y tengo las plantillas cortadas a láser en DM de 3mm, podemos hacer más y sale muy barato. Se necesita una máquina de hilo caliente.
Contad con mis plantillas.

Yo participé en un taller impartido por los chicos de HertzLovers en MediaLab-Prado, y sigo manteniendo contacto con ellos por si tenemos cualquier duda. He fabricado varios super-simply y ultrafusor, además me acue

[2018-10-29 20:23] L4g0 commented on #14
Ya está creado el grupo de Telegram, veo mejor dejarlo en privado para que no se meta gente random...

[2018-10-29 21:13] MrTommyGuns opened #16 "Grupo de Trabajo Pedales Guitarra"
Visto que a la gente le interesa podriamos hacer grupo de fikeo y lo que surja sobre pedales, montaje o lo que sea...
Y de paso a Jorfru le ayudamos con el Ice Screamer y le damos cañita al tema.

[2018-10-30 22:33] SideHalk commented on #16
Secundo la moción
Molaría experimentar y entre varios seguro que algo sale

[2018-11-09 00:56] L4g0 opened #17 "Jam Session 14"
Como se iba a intentar hacer una jam cada mes, voy creando la issue para ir condicionándonos, decidir fechas y demás. Si no puede ser en noviembre no pasa nada, pero estaría bien hacer por lo menos una antes de Navidad.

Cosas que hay que hacer:

- [x] Decidir fecha (Doodle, mirar disponibilidad del salón de grados)

- [x] Reservar salón de grados

- [x] Hacer y pegar carteles

[2018-11-09 00:58] L4g0 commented on #7
Siguiente tarea es subir vídeo(s) a YouTube (me autoasigno) y algunas fotillas por ahí y se podrá cerrar la issue.

[2018-11-13 08:19] L4g0 commented on #10
Asistencia realizada con éxito, nos vemos el año que viene

[2018-11-13 08:19] #10 closed, assigned to nobody

[2018-11-13 08:35] L4g0 opened #18 "Kits de Drawdio"
Mucha gente nos ha pedido si existe la posibilidad de adquirir las PCBs de Drawdio.

Hemos pensado que estaría bien realizar un pedido para 50, 100 Drawdios y vender kits con instrucciones y tal. Molaría hablar con PCBWay o similares, que hagan alguna colaboración tipo [el Badge de la OSHWDem](https://oshwdem.org/2017/09/oshwi/).

Esta issue se podría relacionar con #2

Espero vuestras opiniones e

[2018-11-13 08:38] MrTommyGuns commented on #18
Estaría guay, así con las donaciones que nos pudieran hacer por las placas podríamos subvencionarnos para conseguir material para las jams!

[2018-11-13 08:39] MrTommyGuns commented on #18
La gracia del drawdio es montarselo uno mismo...
Pero si alguien no quiere soldarlo, yo me ofrezco para soldar unos cuantos si hace falta.

[2018-11-13 12:27] L4g0 commented on #17
Creado el Doodle: https://doodle.com/poll/7vi95e7wwz49w8cd

[2018-11-13 17:35] L4g0 opened #19 "Relación de proyectos para el curso 2018/2019"
Debemos hacer una lista de los proyectos y una aproximación del material necesario para cada uno. Pongo como **fecha límite el 25 de noviembre** (totalmente casual) para tenerlos todos.

[2018-11-14 00:08] JorFru opened #20 "Sesiones musicales"
No sé muy bien cómo describirlo. ¿Sesiones melómanas? ¿Sesiones audiófilas?
El asunto es que me gustaría escuchar mis discos favoritos con mis compañeros. No sólo por escucharlos, si no además por presentarlos y explicar por qué para mí significan tanto. En qué me fijo de cada canción, qué me transmite cada pasaje, etc.

Para esto, como tenemos experiencia en Jams, sugiero que se haga en el salón

[2018-11-14 00:18] MrTommyGuns commented on #20
Me parece una idea estupeeendaa!!

[2018-11-14 00:27] David-Estevez opened #21 "It's raining euros, amen!!"
Abierto el plazo para presentar proyectos y pedir subvenciones, hasta el **25 de Noviembre**.

![image](https://user-images.githubusercontent.com/1451819/48451764-3090fe80-e7ac-11e8-8504-04030f9f3158.png)

Link a la convocatoria: https://www.uc3m.es/ss/Satellite/Cultura/es/TextoDosColumnas/1371240285442/

Plan de actuación propuesto:
1. Hacer desglose de lo que queremos pedir cada grupo, con preci

[2018-11-14 00:28] David-Estevez commented on #19
Visto #21, yo daría como mucho esta semana para pensar proyectos y prespuestos, ya que luego además habría que reunirse y redactar las propuestas.

[2018-11-14 10:23] MrTommyGuns commented on #21
Me parece todo correcto.
Tendríamos que hacer doodle para ver cuando quedamos la semana que viene para hacer la reunión, aunque esta vez sugiero que sea en un aula con pizarina o algo así para poder apuntar cosillas, etc...

[2018-11-14 11:27] JorFru commented on #21
Como veo que @MrTommyGuns está perro y quiere repartir el trabajo, aquí está el doodle por mi parte. Deadline para redactar y presentar 25 de noviembre.
https://doodle.com/poll/uv6nwccd4yfzmv76

[2018-11-14 14:25] David-Estevez opened #22 "Memorias proyectos 2017-2018"
Hay que entregar las memorias de los proyectos de este año.

Fecha límite: **23 de Noviembre**

**Texto original**:
2.Sobre la entrega de Memorias:

Una vez realizada la actividad, se debe elaborar un informe o memoria final. El Anexo IV recoge el documento guía para la realización de la memoria*. Este informe / memoria se entregará a través de Aula Global en un periodo no superior a un mes desde

[2018-11-14 15:47] JorFru commented on #20
Para haceros una idea, sería parecido a lo que hace el programa Discópolis en Radio3. Solo que con mejor equipo.

[2018-11-15 17:14] MrTommyGuns commented on #22
Que proyectos con subvención hemos tenido?

[2018-11-15 19:53] David-Estevez commented on #22
@SerjSanchez y yo el polytuna

[2018-11-21 19:54] L4g0 commented on #7
Vídeo subido! https://youtu.be/IhpTuSj1Xuk

[2018-11-21 19:54] #7 closed, assigned to JorFru, L4g0

[2018-11-21 19:55] L4g0 commented on #5
Yo lo de Google Groups lo chaparía, pero la Newsletter tampoco hace daño. Eso sí, da pereza redactarla.

[2018-11-22 07:19] JorFru commented on #5
Yo chapaba. Que la gente se enchufe a las RRSS. El formato foro es feucho.

[2018-11-25 12:50] JorFru commented on #22
Yo y @MrTommyGuns hemos hecho las de Jam y Hackatón.
#### Entregadas:
- [x] PolyTuna
- [x] JamSession
- [x] Hackatón

- ANC desistida

Deberes hechos, muchas gracias a todos.

[2018-11-25 12:50] #22 closed, assigned to David-Estevez, JorFru, MrTommyGuns

[2018-11-25 23:13] L4g0 opened #23 "Limpieza de "despacho""
Bueno, creo conveniente quedar un día para organizar un poco el espacio, ya que con el Hackatón y demás movidas lo tenemos todo hecho un poco desastre.

Podríamos hacer también reunión a la vez para hablar de las diversas actividades que se van a hacer este año y conocer quiénes participaremos en cuáles.

Podéis votar la fecha en el Doodle https://doodle.com/poll/scd9iz9cp8idb4qt

[2018-11-26 00:07] JorFru commented on #23
Me uno al equipo de limpieza, es importante porque de esto también depende #3

[2018-11-26 00:09] JorFru commented on #21
Cosillas entregadas, las copias alacenadas [aquí](https://drive.google.com/drive/folders/1ps6fnszbuGn_I-PN3ob0aCNcYAkDJFDW?usp=sharing)
Las he redactado yo y ha sido corregido por @L4g0 .
La resolución se espera para febrero del 2019. Fecha concreta no se sabe, cada vez tardan más

Prueba de entrega:
![imagen](https://user-images.githubusercontent.com/11017088/48986606-ae8fc680-f117-11e8-8f63-cdcd

[2018-11-26 00:11] #21 closed, assigned to JorFru, L4g0

[2018-11-26 00:16] JorFru commented on #12
Cómo va esto?

Yo recopilé esta información para la OSHWDem (que me la pidieron ya que ellos confeccionaron los cartelitos)
[Proyectos UC3Music.txt](https://github.com/UC3Music/Gestiones-y-Movidas/files/2613668/Proyectos.UC3Music.txt)

[2018-11-26 00:16] L4g0 commented on #17
5 de diciembre opción más votada y salón de grados libre

¿Problema? Es un miércoles y quizás no venga tan bien como un viernes

Viernes más votado es el 14 de diciembre, pero coincide ya en período de tutorías/recuperaciones y podría ser que gente no pudiera.

¿Cuál preferís? ¿5 o 14?

[2018-11-26 00:18] L4g0 commented on #12
Aquí dejo la plantilla cutre que he hecho por si alguien quiere hacer más. Son dos carteles en cada .psd.

De todos modos si alguien se curra un mejor diseño, bienvenido sea.

[Cartelitos.zip](https://github.com/UC3Music/Gestiones-y-Movidas/files/2613671/Cartelitos.zip)

[2018-11-26 00:22] JorFru commented on #2
Según #21 y lo [aquí](https://drive.google.com/drive/folders/1ps6fnszbuGn_I-PN3ob0aCNcYAkDJFDW?usp=sharing) presentado puede caer un buen pellizco si se portan bien con nosotros.

[2018-11-26 00:27] JorFru commented on #17
Día 5 libre
Día 14 libre
Se usa este calendario para consultar disponibilidad https://arcamm.uc3m.es/agenda.v2/#

Hasta fin de año yo haría una de Jam y otra de #20

[2018-11-26 00:28] L4g0 commented on #1
¿@David-Estevez sigue interesado en ser presidente y conseguir el monopolio de ASROB-UC3Music o prefiere aliviar peso de trabajo?

En ese caso me presento a presidente tb lol. _(Por favor quitadme de tesorero, estoy sufriendo)_.

Sea como sea, deberíamos dejar fijado esto cuanto antes, me pone nervioso ver tanta issue abierta xD

![image](https://user-images.githubusercontent.com/23212123/48986873

[2018-11-26 00:31] MrTommyGuns commented on #17
Por mi parte siendo por la tarde lo tengo igual de "mal", así que no podré estar organizandola, como mucho para recoger y demás.
Por otro lado el 5, siendo 6 y 7 fiesta, es como si fuera un viernes... Aunque mucha gente se irá creo que es mejor fecha que el 14, que la gente directamente puede que ni vaya a la uni si es semana de recuperación de clases.
Peroo como siempre, no se sabe.

[2018-11-26 00:34] JorFru commented on #17
Yo es que soy muy manco con la guitarra, tengo demasiadas ganas de #20

[2018-11-26 00:36] MrTommyGuns commented on #17
Yo veo factible las dos (?)
A mi me renta #20
Sobre todo que tengo mucha curiosidad de como puede salir y me mola la propuesta...
Una de los Who así para empezar? 😉😉

[2018-11-26 00:37] JorFru commented on #17
Lee la issue #20 y te enteras de cómo proponer discos.

[2018-11-26 00:40] JorFru commented on #1
Yo me presento de tesorero!

[2018-11-26 10:28] David-Estevez commented on #1
LOL! Sigo interesado en el puesto de presi, sí, y voto a Pablo como tesorero :laughing:

¿Montamos la votación?

[2018-12-03 16:26] L4g0 commented on #23
Finalmente esto será hoy lunes 3 a las 19-19:30

[2018-12-04 12:29] L4g0 opened #24 "Imprimir carteles Jams para el despacho"
Hemos pensado que estaría guay imprimir todos los carteles de las jams para pegar en el despacho.

Sería tamaño A3 a color.

Carteles (seleccionados los que están pegados):

- [ ] Jam Session 1
- [ ] Jam Session 2
- [ ] Jam Session 3
- [ ] Jam Session 4
- [ ] Jam Session 5
- [ ] Jam Session 6
- [ ] Jam Session 7 (No tiene cartel)
- [ ] Jam Session 8
- [ ] Jam Session 9
- [ ] Jam Session 10
- [ ] J

[2018-12-04 15:35] David-Estevez commented on #24
O hacer una cinta de embalar con el diseño de los carteles y precintar nuestra zona del despacho (?)

[2018-12-04 17:19] JorFru commented on #24
Esto vendría muy bien para #23

[2018-12-04 17:20] JorFru commented on #23
Esto quedó hecho ayer y lo de "Y después cervezas" fué soooo fucking real.
Gracias @L4g0 @MrTommyGuns
Si hay foto del "después" la podéis subir aquí.

[2018-12-04 17:21] #23 closed, assigned to JorFru, L4g0, MrTommyGuns

[2018-12-04 17:26] JorFru commented on #19
Esto quedó hecho.
Hay que esperar hasta mediados de febrero para obtener respuesta.

[2018-12-04 17:26] #19 closed, assigned to nobody

[2018-12-04 17:28] JorFru commented on #18
¿Dónde/a quién se los vendemos?
Por ejemplo en la OSHWDem no se pueden realizar actividades comerciales, y en otras ferias hay qe pagar peaje.

Conozco Etsy y Tindie para vender chuminadas electrónicas de este tipo.

[2018-12-04 18:50] JorFru commented on #1
@David-Estevez @L4g0 ¿habilitamos el cargo de subpresi o nos la jugamos todo a una carta?
@L4g0 ¿te quito como candidato de tesorero entonces?

La votación sería:
Presi: elegir sr. Lago o sr. Estévez
Secre: @MrTommyGuns como única opción
Tesorería: @JorFru como única opción
¿Correcto?

[2018-12-04 18:52] L4g0 commented on #1
Yo veo bien que estemos todos en la junta, que al fin y al cabo somos los que estamos haciendo cosas. Me da igual como tesorero que subpresi, el otro día me motivé un poco xD

[2018-12-04 18:55] JorFru commented on #1
Pues anímate a presentarte a los dos.

[2018-12-05 10:45] David-Estevez commented on #1
Vamos a votar ya que esto lleva abierto desde Septiembre :laughing: :laughing: :rofl: :rofl:

[2018-12-05 10:49] David-Estevez commented on #23
Hay fotos? :grin:

[2018-12-05 10:51] L4g0 commented on #23
@David-Estevez Sí

[2018-12-05 10:52] David-Estevez commented on #23
:tada: :tada: :tada:

[2018-12-05 10:52] L4g0 commented on #23
@David-Estevez Creeeeo que hizo @JorFru pero don’t know

[2018-12-05 12:38] JorFru commented on #1
https://goo.gl/forms/MNmuCl9J26KD5d4b2

revisad si está todo correcto

[2018-12-05 12:39] MrTommyGuns commented on #1
Correcto!

[2018-12-05 12:40] L4g0 commented on #1
@JorFru seems right

[2018-12-05 12:41] MrTommyGuns commented on #1
Eso sí, todos con nombre y apellidos y yo "Tomás el pistolas" jajajajajaja brutaal!! 😂😂😂

[2018-12-05 12:45] JorFru commented on #1
Perdona, es que no me acordaba de tus apellidos

[2018-12-05 19:00] L4g0 commented on #17
Jam confirmada con reserva ya realizada para el **14 de diciembre**

[2018-12-05 22:41] L4g0 commented on #18
Yo empezaría con gente de la uni, que conozco a varias personas que podría interesarle. Lo de las tiendas que ha pasado @JorFru me parece muy correcto, habría que investigar cómo funcionan y tal.

[2018-12-05 23:12] JorFru commented on #18
Recordad que según nuestros estatutos (se pueden consultar en la carpeta blanca de nuestro zulo) somos una asociación sin ánimo de lucro. Esto seguramente limite prácticamente todo tipo de actividades económicas. Vender parece que no es compatible aunque se podría comprobar.

Sin embargo, ya que los proyectos son libres y sin limitaciones comerciales cualquier persona podría sacar dinero usando el

[2018-12-05 23:34] L4g0 opened #25 "Ordenar Drive"
Está muy descolocado, en parte por culpa de mi maravillosa de meter el "fork" de Carmen, que contiene cosas duplicadas, pero algunas que no.

Cómo está ahora:
_**Carpeta UC3Music Public:**_ la copia que tenía Carmen en su drive. Me pasó la propiedad y yo se la pasé a la cuenta de UC3Music (está en la carpeta principal)

Mi idea era tener una carpeta "pública" donde cualquiera pudiera acceder a arc

[2018-12-06 00:08] MrTommyGuns commented on #25
La iniciativa me parece muy necesaria porque está liadísimo.
A mi me mola la idea de una publica para la gente que quiere info, diapos de charlas o lo que sea y una más privada para la gente de la aso y papeleos y cosas del estilo.
Por otro lado, ya que hay un cuenta de la uni con espacio ilimitado, lo mismo podriamos intentar crear una carpeta desde ahí y compartirla con la que usamos habitualmen

[2018-12-06 02:05] JorFru commented on #23
Las fotos que pidió @David-Estevez
Las marcas rosas indican el espacio en el que están confinados nuestros trastos.
![imagen](https://user-images.githubusercontent.com/11017088/49556340-a0a22880-f903-11e8-8391-940ec1c7c17c.png)
![imagen](https://user-images.githubusercontent.com/11017088/49556349-a435af80-f903-11e8-9a58-a3c2fb256fe7.png)
![imagen](https://user-images.githubusercontent.com/11017088

[2018-12-06 02:13] JorFru commented on #25
El grueso de este contenido son fotos de los talleres que interesa mantener pero no son archivos que se usen a diario. Sin embargo conviene dejar un par de fotos fácilmente accesibles porque son útiles para cosas como entrega de memorias y publicidad.
La otra parte gruesa son las revistas digitalizadas. Me las consiguió un amigo y quisiera mantenerlas, pero sé que hasta la fecha nadie las ha utili

[2018-12-06 02:19] JorFru commented on #25
En mi opinión:

Diapos y docus van a GitHub en el caso de que sean realmente interesantes para terceros.

Mantener nuestro papeleo en Drive porque es fácil de editar colaborativamente y ya tenemos plantillas de todo.

Mantener un archivo de fotos lo más completo posible para publicidad y memorias. Drive almacena de forma gratuita y sin límites todas las fotos que quieras mientras estén por debajo

[2018-12-06 08:49] L4g0 commented on #25
@JorFru Podemos usar [Google Photos](https://photos.google.com/), que las comprime automáticamente y deja subir ilimitadas. Además las ordena perfectamente por fecha y es muy fácil localizar lo que se busca.

Como prueba he subido todas las fotos y vídeos que tengo del Hackatón.

[2018-12-06 15:43] L4g0 commented on #8
Puede estar interesante hacer alguno de los talleres en el Maker Space.

También se podría preparar una charla explicando cómo funciona la asoci. O meter momento spam en un taller, que lo veo más viable.

![image](https://user-images.githubusercontent.com/23212123/49594314-e0a1f380-f975-11e8-85ab-fc3274cce7ac.png)

[2018-12-06 15:49] JorFru commented on #25
Vamos a probar a mover ahí el archivo de fotos, dejando las ḿás representativas y útiles de cada carpeta pero archivando todas las demás.
Te animas a hacerlo @L4g0 ?

[2018-12-06 15:49] L4g0 commented on #25
@JorFru Yep, le puedo ir dando en mis ratos libres

[2018-12-06 15:51] JorFru opened #26 "Presentación de la asociación y proyectos en MakerSpace EPS"
Nos han invitado a organizar esto:
![imagen](https://user-images.githubusercontent.com/11017088/49594824-f95ed900-f976-11e8-8813-9966787913ca.png)

sería en febrero, después de exámenes.
Como al final no hicimos ninguna actividad en la "Semana de Asociaciones", podríamos aprovechar y hacerlas aquí.
Lo dejo como idea.

[2018-12-06 15:51] L4g0 commented on #25
@JorFru Además he visto que se puede hacer que aparezcan las fotos de Google Photos en una carpeta del Drive dedicada, lo haré así

[2018-12-06 15:52] JorFru commented on #25
Buenas noticias! Entonces procedamos!

[2018-12-06 15:53] JorFru commented on #8
Mejor issue nueva. #26
Esta issue la dejamos como bug y no la volvemos a abrir.

[2018-12-06 16:13] MrTommyGuns commented on #26
Lo ideal sería hacer un taller más que las charlas que teníamos pensandas, por eso de que la gente que irá quiere hacer cosas maker y tal.
La parte mala es que creo que no tenemos materiales para hacer los talleres de drawdio o algo así, como mucho de reparación de auriculares con lo que queda y yo tengo unos 8 conectores de Ali que puedo donar.

[2018-12-06 16:16] JorFru commented on #26
Justo por ser Maker también viene bien hacer una charla para alimentar el SAV de los compañeros.

[2018-12-06 19:58] JorFru commented on #25
Qué os parece usar álbumes para organizar las fotos?
![imagen](https://user-images.githubusercontent.com/11017088/49608715-a5b1b700-f999-11e8-8a68-db88e0da6078.png)

[2018-12-06 19:58] JorFru commented on #25
A mí me gusta por carpetas y subcarpetas eroweno

[2018-12-10 16:46] L4g0 commented on #17
9 carteles pegados por todos edificios menos Sabatini y uno en la asoci.

Por alguna razón han salido azules :confused:
![image](https://user-images.githubusercontent.com/23212123/49747300-6d64ee00-fca3-11e8-8dea-d0c2dc4a7c82.png)
_Representación Artísitca_

[2018-12-10 16:48] L4g0 commented on #3
No sé si ponerlo en esta issue o crear otra para material para el taller, pero yo creo que necesitaríamos como mínimo alguna banqueta o sitio donde poder sentarnos. Luego ya si nos ponemos tontos pues estanterías, cajitas, bla, bla, bla...

Es por si existe posibilidad de conseguir alguna a un coste bajo o cero :question:

[2018-12-10 22:57] David-Estevez commented on #3
@JorFru no deberían habernos proporcionado algunas con el taller?

[2018-12-10 22:58] David-Estevez commented on #17
Está tremendo ese King África :joy: :joy: :joy:

[2018-12-10 22:59] L4g0 commented on #3
@David-Estevez En ese caso:
1. No nos las han proporcionado
2. Se las han apropiado el resto de asociaciones

[2018-12-12 14:35] L4g0 commented on #1
![image](https://user-images.githubusercontent.com/23212123/49876204-2867c580-fe23-11e8-8f18-627edb8e8c8c.png)

Con altísima participación los resultados son los siguientes:
**Presidente:** @L4g0
**Subpresidente (_presi en la sombra_):** @David-Estevez
**Secretaría:** @MrTommyGuns
**Tesorería:** @JorFru

[2018-12-12 15:14] #1 closed, assigned to nobody

[2018-12-12 15:15] #5 closed, assigned to nobody

[2018-12-16 18:01] JorFru commented on #17
Maravilloso el trabajo gráfico esta edición.
Gracias @MrTommyGuns @L4g0 por el trabajo de los carteles.

Enhorabuena a todos por el éxito obtenido.

[2018-12-16 18:01] #17 closed, assigned to JorFru, L4g0

[2018-12-16 18:14] JorFru commented on #20
Se realizó una prueba de concepto con el equipo:
KV2 EX12 que os trae @JorFru
Genelec 12" con el que cuenta el Salón de Grados

La calidad acústica de la sala dejó un poco que desear pero no es tan mala en general.
Se necesitó DSP para ajustar el sub a los tops, pero más o menos se llegó a un ajuste apropiado y utilizable.

Deseando que salga fecha para esto.

[2019-01-07 10:51] L4g0 commented on #26
Yo creo que podemos hacer la charla de cómo grabar en Reaper.

Eso sí, no sé si encaja con lo que buscan desde el maker space...

[2019-01-07 10:54] L4g0 commented on #20
Se puede planear una sesioncilla de estas para después de exámenes.

- [x] Hacer Doodle
- [x] Crear un texto que explique en qué consiste esta actividad para que la gente de redes lo entienda.
- [x] Difundir por Telegram y + redes

[2019-01-07 15:16] David-Estevez commented on #26
Yo creo que están buscando cosas más maker, y concretamente más relacionadas con hardware y fabricación digital.

No obstante, es cuestión de preguntarles, igual sí que les interesa también.

[2019-01-25 19:10] L4g0 commented on #3
Escribí un borrador, y el borrador ha sido borrado por alguien que lo ha borrado

[2019-01-25 19:40] David-Estevez commented on #3
@L4g0 nos ha creado un bonito doodle https://doodle.com/poll/h7xeyhznzgetx6ra

Votad malditos!

[2019-01-25 19:51] David-Estevez commented on #13
Lugar elegido: PIP
Modelo: O también blanca con logo en rojo y el transistor en blanco.
Hoja para apuntarse: [link](https://docs.google.com/spreadsheets/d/1I2nEqnJ5_FXxh-w9qBAnmmxpXl9k0_T_GYRYuneOO-U/edit?usp=sharing)

[2019-01-25 19:57] L4g0 commented on #18
Idea: hacer una rifa en vez de venderlos (o ambas)

[2019-01-25 20:01] David-Estevez commented on #24
Bloqueado porque no tenemos despacho (#23)

[2019-01-27 11:52] JorFru commented on #24
Hay una jam que no tiene cartel, la séptima.

[2019-01-29 14:50] JorFru commented on #26
Fernando el señor que lleva el tema MakerSpace dice:
`hemos reservado la semana del 4-8 de marzo para eventos de las asociaciones, que tal os viene preparar algo para esa semana`

[2019-01-29 19:06] JorFru commented on #18
Lo de la rifa puede rentar porque siempre lo peta en las RRSS
https://twitter.com/UC3Music/status/841458601784930304
![imagen](https://user-images.githubusercontent.com/11017088/51933341-60da5780-2401-11e9-8bdb-277b71b65d55.png)

[2019-01-29 19:09] JorFru commented on #13
@David-Estevez ¿tienes la tuya a mano para enseñarla y que la gente vea el vinilo de corte y cómo queda el diseño que ya tenemos hecho?
La mía no la tengo a mano.

[2019-01-30 16:05] David-Estevez commented on #13
Podéis hacer un forward de la foto al grupo principal o pasarla por aquí. Si la pasáis por aquí tapadme el careto, que salgo horrible.

[2019-01-30 17:50] JorFru commented on #13
![photo_2019-01-30_18-48-46](https://user-images.githubusercontent.com/11017088/52001497-d99fe900-24bf-11e9-8896-40667503b152.jpg)

Este es nuestro modelo profesional enseñando cómo queda la camiseta.

[2019-01-31 11:57] JorFru commented on #20
Este es el Doodle.
Votad malditos!
https://doodle.com/poll/42sdyp64vphekhcb

[2019-01-31 12:22] JorFru commented on #3
En el Doodle ha salido hoy de 17 a 21h.

Esto para qué era? Para ir allí con palos y antorchas?
Para redactar un correo?
Para quedar con ellos?

[2019-01-31 12:27] MrTommyGuns commented on #3
Era la fecha para proponerles quedar con ellos y tratar los distintos temas que tenemos que hablar

[2019-01-31 12:28] MrTommyGuns commented on #3
Peroo siendo hoy y en vista a que no podemos mandarles un correo y decirles de quedar hoy, diría que tendríamos que extender el doodle un par de semanas, votar un poco a más largo tiempo y enviarselo a ellos con antelación de una semana mínimo

[2019-01-31 12:33] MrTommyGuns commented on #26
Yo diría que vamos algo justos 😅
Y los talleres que les pueden interesar a ellos requiere de material que actualmente no tenemos...
Si nos dan materiales podriamos hacer así de improvisado un taller de reparación de auriculares (?)
Sino tal vez alguno de los que teníamos previsto para la semana (ya comentamos que esos no eran muy del rollo que les podría interesar, peroo si les vale podríamos apro

[2019-01-31 13:07] JorFru commented on #13
En el PiP, con un tiempo de entrega de 10 días. Salen a 10€. Algo más baratas si pides a partir de 20 unbidades.
Sabemos que funciona, pero son algo caras. Es donde hemos pedido las de ASROB.

Sin embargo las actuales de UC3Music son de Las Chapas, no te dan un trato demasiado profesional, pero el precio es mejor (8,50€) y la calidad buena. El tiempo de entrega es una semana.

Nota: el precio es d

[2019-01-31 13:08] JorFru commented on #3
Tenemos el doodle actualizado, podéis mostrar vuestras preferencias horarias.
https://doodle.com/poll/h7xeyhznzgetx6ra

[2019-01-31 13:13] JorFru commented on #26
Reparación de cascos está bien. Yo me ofrezco a impartirlo.

[2019-01-31 18:43] MrTommyGuns commented on #26
Yo si es por la mañana también me apunto a echar una mano
También tengo unos cuantos jacks malillos de Aliexpress que puedo donar y para el proposito tiran de sobra

[2019-02-03 01:12] JorFru opened #27 "Nosan pouneado"
![photo_2019-02-03_02-11-18](https://user-images.githubusercontent.com/11017088/52171201-27834e00-2759-11e9-8033-aae62699cc90.jpg)
![photo_2019-02-03_02-11-22](https://user-images.githubusercontent.com/11017088/52171202-29e5a800-2759-11e9-8c30-7a0a96d1f034.jpg)

[2019-02-03 12:37] L4g0 commented on #20
¿Descargamos los discos en FLAC para tener la mejor calidad posible o tiramos con el mp3 320kbps de Spotify por ejemplo?

[2019-02-03 13:35] JorFru commented on #20
Día elegido 18 febrero 19-21h
Enviada solicitud de reserva de espacios. Suelen tardar en contestar con la autorización una semana.

[2019-02-03 13:43] JorFru commented on #20
Yo tengo los CD-Rip, convertidos en FLAC, 44k1Hz 16bit. Suenan bien.
Incluso tengo alguno en DSD, 1bit, 2.8224 MHz. Lo que es equivalente a 20bits 96MHz, aproximadamente.

Posiblemente terminemos usando procesado digital para intentar atenuar los defectos acústicos de la sala. En el caso de usarlo, la señal se resamplea a 32bit 48KHz.

Por lo demás, el equipo es completamente analógico por encima

[2019-02-03 13:48] JorFru commented on #27
Cambio de contraseñas general

[2019-02-03 13:49] L4g0 commented on #27
Ya llevamos un montón de tiempo pero bueno, si queréis las cambiamos...

[2019-02-03 23:19] David-Estevez commented on #3
El correo propuesto lo pasamos por el Telegram el otro día, sólo habría que "suavizarlo" un poco.

[2019-02-08 10:39] JorFru commented on #20
**CONFIRMADO**

[2019-02-11 14:11] MrTommyGuns commented on #27
Ya están todas las pass cambiadas??
De ser así podemos cerrar la issue

[2019-02-11 14:14] MrTommyGuns commented on #26
Esto se ha pasado ya...
Podemos cerrar la issue?

[2019-02-11 15:37] JorFru commented on #26
No tan rápido pistolero.
4-8 de marzo

Queda un mes para prepararlo.
En ASROB se están moviendo cosas.
Molaría que en UC3Music también.
Una instalación sonora? ÁlvaroDm7 estaba preparando una en su casa, con tocapelotasbot, os sonará.

[2019-02-11 15:39] JorFru commented on #27
Grasias a los encargados de RRSS en ocuparse de esto.
Cerrando.

[2019-02-11 15:39] #27 closed, assigned to JorFru, L4g0, MrTommyGuns

[2019-02-21 23:22] MrTommyGuns commented on #20
Estaría guay hacer por aquí una lista o en algún lado donde tener las propuestas y/o añadir las nuevas.
Del mismo modo se podrían marcar los discos ya escuchados etc...

[2019-02-21 23:26] MrTommyGuns opened #28 "Abrir repositorios para las Jams y Sesiones Musicales"
Maaybe podríamos hacer un repo solo para las Jams y esto donde subir toda la info?

Ahí podríamos ir posteando todas las cosas de cada actividad, poner algunas fotos para luego hacer las memorias, tener algo de archivo y publicar en las redes a posteriori e incluso si nos calentamos poner el equipo usado, resultado de la actividad, audiencia...

Es una sugerencia peroo ya que nos ponemos me parece

[2019-02-21 23:28] MrTommyGuns opened #29 "Añadir el repo "Gestiones-y-Movidas" a los pineados"
Creoo que deberiamos pinear este repo a los de UC3Music ya que hay proyectos pineados que llevan sin actualizarse y usarse en general mucho y podríamos abrir paso a este repo y a los que sucedan, dando prioridad a los repos que se usen más a diario.

[2019-02-21 23:48] JorFru opened #30 "Radio GUL"
GUL de toda la vida ha llevado RadioGUL
Yo les he escuchado y siempre me ha molado su rollo. Creo que encajaríamos.
Además, históricamente siempre nos han dicho que estábamos invitadísimos y que nos iban a llamar para entrevistar.
Se fué posponiendo y al final no ocurrió.

La gente que lleva el programa /dev/random no sólo nos han invitado, nos han insistido en que entremos hasta la cocina. No ser

[2019-02-21 23:59] JorFru commented on #20
@MrTommyGuns Edita el primer mensaje y mete tus propuestas.

[2019-02-22 00:15] JorFru commented on #28
Buena idea.
Ábrelo y empieza a añadir la información. Yo me uniré después.

[2019-02-22 01:11] MrTommyGuns commented on #28
Creado el repo de las Jams: https://github.com/UC3Music/JamSessions

Creado el repo de las Sesiones: https://github.com/UC3Music/SesionesMusicales

[2019-02-22 01:11] #28 closed, assigned to MrTommyGuns

[2019-02-22 17:21] #29 closed, assigned to nobody

[2019-03-14 18:59] JorFru commented on #30
¿Alguien se anima con una charla contra el audiofoolery?
Elijamos la pastilla roja...
http://matrixhifi.com/contenedor_ppec.htm

[2019-03-14 22:09] L4g0 commented on #30
@JorFru I’m fuckin in

[2019-03-15 09:25] JorFru commented on #12
He hecho esto.
[Cartelitos2.zip](https://github.com/UC3Music/Gestiones-y-Movidas/files/2970295/Cartelitos2.zip)
Todavía falta por hacer el de Shiva y Metronemo

[2019-03-17 23:41] David-Estevez commented on #12
Los cartelitos fueron muy útiles en el Arduino Day Zaragoza, nos evitaron dar bastantes explicaciones a gente que sólo quería saber de qué iba un poco el stand, gran iniciativa!!

Como comentario, en el de ABBlind hay una errata, debería poner "Audiófilos".

[2019-03-26 09:47] JorFru commented on #30
Ayer lunes se grabó el primer podcast de UC3Music, que se publicará próximamente en el programa /dev/random de Radio GUL.

![photo_2019-03-26_10-45-39](https://user-images.githubusercontent.com/11017088/54987232-7f4d7100-4fb4-11e9-8cfb-4c27502a1654.jpg)

[2019-03-26 09:50] JorFru opened #31 "¿Creamos un canal de SoundCloud para UC3Music?"
El otro día grabamos un podcast y a parte de publicarse en Radio GUL, molaría tenerlo en alguna plataforma bajo nuestro control.
¿Qué usamos?
- SoundCloud?
- iVoox (coñazo porque pide registarse para usar la app)
- YouTube subido con una imagen fija de Tommy

A parte de podcast quizás algún día queremos subir muestras de sonido de modular, o incluso las jams enteras...
Alguien con ideas?

[2019-03-26 10:01] L4g0 commented on #31
@JorFru Yo crearía un SoundCloud por tener. El único problem es que la versión gratuita tiene un límite de tiempo que puedes subir en total en tu cuenta.

[2019-03-26 10:06] JorFru commented on #26
Resultó ser más interesante el contenido de ASROB.
Finalmente no nos cogieron ninguna propuesta.

[2019-03-26 10:06] #26 closed, assigned to JorFru

[2019-03-26 10:21] David-Estevez commented on #31
:joy:  :joy:  :joy: :joy:

[2019-03-26 14:44] jgvictores commented on #31
Recomendaría:
- SoundCloud: Mola pq hay App. No sabía lo de los límites de tiempo.
- Spotify, ITunes, Youtube Music, etc... (mucho más por comodidad del lado oyente que por el beneficio económico):  Para lo de SHR utilizo [Soundrop](https://soundrop.com/), lo subo a ellos y ellos se encargan de subirlo a todos esos sitios (gratis y llevándose pequeña comisión sobre beneficios)(tb te generan código

[2019-03-27 11:16] MrTommyGuns opened #32 "Reunión 27/03/19"
# Acta de Reunión 27/03/2019
**Asistentes:** [Pablo Lago](https://github.com/L4g0), [Tomás Criado](https://github.com/MrTommyGuns), JorFru, Andrés, Alex, DEF

## Presupuestos 2019
**_Mirar excel del Drive_**

- Proyectos, actividades, talleres e ideas para realizar.
- Reparto de los presupuestos.
- Quién va a comprar cada cosa, tiendas, aclarar tema facturas, etc.

## Reconquista de nuestro espaci

[2019-04-02 13:49] #32 closed, assigned to L4g0, MrTommyGuns

[2019-04-04 16:36] JorFru opened #33 "Feria de asociaciones 26 Abril 2019"
26 de Abril 2019, césped de Leganés.

Asociaciones de la UC3M EPS organizan una segunda feria de asociaciones. Ya hay una anual allá por octubre, esta es otra, con el objetivo de fomentar las actividaes en asociaciones.

Horario de exposición de 11 a 17h (aunque el doodle diga desde las 10). Media hora por delante y por detrás para montar y desmontar. Aproximadamente. Se puede llegar más tarde, pe

[2019-04-05 14:12] David-Estevez commented on #33
https://github.com/asrob-uc3m/actas/issues/191#issuecomment-480289134

[2019-04-05 16:04] JorFru commented on #33
¿Qué os parece ponernos al lado de ASROB y así compartir recursos humanos?
Empalmar las mesas y cuidar nuestros proyectos mutuamente.

[2019-04-05 19:16] David-Estevez commented on #33
:+1:

[2019-04-05 19:36] MrTommyGuns commented on #33
Yooo tengo que mirar bien mis mierdas, peroo de poder, por la mañana.
Lo del stand con Asrob contaba con ello

[2019-04-05 19:38] MrTommyGuns commented on #33
Como parte del SAV lo mismo podríamos intentar arreglar la batería y movidas del rollo, hacer cables o warever 🤔🤔

[2019-04-23 15:53] JorFru commented on #33
he colocado los carteles en nombre de UC3Music

[2019-04-23 16:12] MrTommyGuns commented on #33
Maravillosoooo!!

[2019-04-23 16:12] MrTommyGuns commented on #33
Maravillosoooo!!

[2019-05-09 23:38] MrTommyGuns opened #34 "Púas Personalizadas"
Molaría muchiiisimoo hacer púas personalizadas de la aso, como el logo, tal cual.

Así podemos poner en los stands en las ferias, tener para tocar en las jams y si surge, adeptar donaciones extraordinarias a cambio de puas custom para pillar cosillas para la aso.

[2019-05-09 23:51] JorFru commented on #34
Y la calidad luego es suficiente?
 Es decir, son usables? Porque hay algunas que... Enfermedad venérea

[2019-05-09 23:52] MrTommyGuns commented on #34
Probablemente sean poco utilizables, serán las típicas de plástico malucho, pero para tocar en una jam y tener un puñado de ellas puede estar guay.

[2019-05-09 23:54] MrTommyGuns commented on #34
El otro día encontré una página donde hacerlas que tenía buena pinta y precios económicos, pero no recuerdo cual era, si la vuelvo a localizar y/o encuentro una viable la pondré por aquí.

[2019-05-10 11:06] David-Estevez commented on #34
Hay de todo, depende de lo que te gastes. Lo bueno es que nuestro logo se puede hacer con un solo color y queda bien, eso hará que sean más baratas.

[2019-05-27 11:44] L4g0 commented on #33
Finalizada la feria con éxito.

[2019-05-27 11:44] #33 closed, assigned to JorFru, L4g0, MrTommyGuns

[2019-06-03 08:18] L4g0 commented on #31
Creado perfil de SoundCloud, para lo que sea que lo utilicemos: [https://soundcloud.com/uc3music](https://soundcloud.com/uc3music).

Email y contraseña habituales.

[2019-06-03 08:28] L4g0 commented on #2
Bueno, pues ya tenemos el pedido a Thomann hecho. Hemos pillado:

- Kit guitarra tipo Telecaster
- Kit bajo
- Fundas bajo y guitar
- Correas, púas y cuerdas

[2019-06-03 08:29] L4g0 commented on #8
Esto se puede hacer al principio del próximo curso para alimentar el SAV de gente que venga nueva a la uni o que no nos conocieran

[2019-06-03 09:11] JorFru commented on #31
Subimos el potcas?
Es lo único que tenemos

[2019-06-12 11:06] L4g0 opened #35 "16 Jam Session"
Buenas,

Reserva pedida para el 27/06 de 15 a 21 as usual.

Falta hacer cartel y tal.

Salu2

[2019-06-21 10:36] L4g0 commented on #35
Por motivos ajenos a la asociación se cambia la fecha al 25/06 y pensando montar sobre las 4 y pico para empezar sobre las 5.

 Ya está el cartel y la info en su correspondiente directorio del repo de Jams: https://github.com/UC3Music/JamSessions/tree/master/16JamSession

[2019-07-01 09:32] L4g0 opened #36 "Semana de Asociaciones 2019"
Nos ha llegado un correo de Montserrat (la nueva África) sobre la Semana de Asociaciones:

TL;DR:

* Este año se va a volver a organizar una Semana de Asociaciones, pero no vamos a tener a África para presionarnos a proponer cosas porque ya no lleva el tema.
* Aún asi, es importante organizar alguna charla / taller porque hay que mostrar que las Asociaciones estamos activas para luego poder optar

[2019-07-01 09:32] L4g0 commented on #35
Concluida con éxito

[2019-07-01 09:32] #35 closed, assigned to L4g0

[2019-07-01 19:56] JorFru commented on #35
Hubo fotos? Yo no hice

El lun., 1 jul. 2019 a las 11:32, Pablo Lago (<notifications@github.com>)
escribió:

--
*Jorge Frutos de Mingo*

Estudiante de Grado en Ingeniería Eléctrica.
Asociación de estudiantes UC3Music y ASROB.
Universidad Carlos III de Madrid.

[2019-07-10 10:11] JorFru commented on #36
Done

[2019-07-10 10:11] #36 closed, assigned to JorFru, L4g0, MrTommyGuns

[2019-09-11 07:58] #30 closed, assigned to JorFru, L4g0, MrTommyGuns

[2019-09-11 08:01] JorFru opened #37 "Talleres Semana de Asociaciones 2019"
Durante la semana se realizan varios talleres organizados por las asociaciones.
Será la primera semana de octubre.
Si la fecha os viene mal, se puede realizar el taller fuera de la semana, por ejemplo solicitando el sótano de la biblioteca mediante reserva de espacios o bien haciéndolo en el makespace.

A saber por parte de UC3Music:

- Taller de sonido en directo
- Taller de grabación en estudio

[2019-09-11 08:01] JorFru commented on #8
Continúa en https://github.com/UC3Music/Gestiones-y-Movidas/issues/37

[2019-09-11 08:02] #8 closed, assigned to JorFru, L4g0, MrTommyGuns

[2019-09-11 08:06] JorFru opened #38 "Feria de asociaciones 2019"
Dentro de la semana de asociaciones se organiza la Feria de Asociaciones.
Será el 1 de Octubre en leganés. Patio como siempre.
En Getafe también, just information, 4 Octubre.

Hay que sacar los cacharrillos a pasear.

Apúntense en la issue.
Si no vamos a tener disponibilidad entre todos para cubrir el día entero se puede mirar hacer un doodle.

[2019-09-11 09:20] MrTommyGuns commented on #38
Yo me apunto al tema, lo malo es que cae en miércoles y tengo unas cuantas asigntaruas distribuidas a lo largo del día.
Así que por mi parte un doodle para saber el horario de todos y gestionar quien se encargar en cada franja horaria y que al menos haya una persona en ese rato está guay,

[2019-09-11 09:23] MrTommyGuns commented on #37
Yo si que la haría, nos aseguramos que va a asistir gente yo creo.
Este año la que teníamos @L4g0 y yo no está preparada pero yo creo que se puede improvisar un poco si tal y listo...
El tema horario sería importante cuadrarlo bien, no sé como estará organizado este año.
Sería optimo contar con los instrumentos de la asociación para ese día y no tener que venir cargados.

[2019-09-11 09:29] JorFru commented on #38
Atención cae en martes.
Revisa.

[2019-09-11 09:33] JorFru commented on #38
Yo estoy disponible desde las 13 hasta cierre.
Supongo que la hora de montar será a las 10:30 o así.

[2019-09-11 09:36] MrTommyGuns commented on #38
Yo los miércoles tengo clase de 9-11 y de 15-17, a no ser que surja algún imprevisto, estaré el resto de horas.

[2019-09-11 12:18] L4g0 commented on #38
Es MARTES 1 de octubre @MrTommyGuns , yo puedo el día entero básicamente

[2019-09-16 14:39] MrTommyGuns opened #39 "Acta Reunión 16/09/19"
Temas a tratar:

- Conoce UC3Music
- Proyectos (Mirada general, propuestas, etc)
- Subvenciones y pastuki
- Calendario de Google
- Radio UC3Music
- Jams y quedadas Musicales
- Mirar Issues
- Guitarra y Bajo
- El Evento y Hackatón
- Elección nuevos cargos(?) - Voluntarios?

[2019-09-16 16:01] MrTommyGuns commented on #39
Propuesta: Jam Session en el patio (en acustico o warever)

[2019-09-16 16:21] MrTommyGuns commented on #39
Fijada fecha para montaje de la guitarra y el bajo de Uc3Music el lunes 23/9/19

[2019-09-16 16:22] MrTommyGuns commented on #39
Usaremos el calendario "Eventos de UC3Music" de la cuenta de gmail de la asociación.
Lo compartiremos de forma pública.

[2019-09-18 19:41] JorFru opened #40 "Nos han invitado a la Bilbao MakerFaire"
El año pasado nos invitaron y no fuimos.

Alguien se anima a ir y representar a UC3Music llevando robotillos? Pagan todo el viaje y el alojamiento.

Será los días 1, 2 y 3 de Noviembre, de viernes a domingo.
Más info: https://bilbao.makerfaire.com/

Hay que rellenar el C4M en caso que alguien se anime.

[2019-09-18 19:42] JorFru commented on #40
Yo no puedo

[2019-09-18 20:15] L4g0 commented on #40
¿Te refieres a ASROB o UC3Music? Porque igual el copy-paste se te ha ido.

[2019-09-18 20:26] JorFru commented on #40
Ambas estamos invitadas.

[2019-09-18 20:26] JorFru commented on #40
Ah, ya sé.
Edito

[2019-09-18 20:36] L4g0 commented on #39
Reunión finalizada con éxito.

[2019-09-18 20:36] #39 closed, assigned to nobody

[2019-09-18 20:42] L4g0 commented on #40
Justo el finde siguiente es la OSHWDem, pero podría planteármelo. Dependería de si tengo exams y esas cosas tb. No es un no, tampoco un sí.

[2019-09-18 21:00] MrTommyGuns opened #41 "Montaje de la Guitarra y el Bajo DIY"
Quedó fijada la fecha para este proyecto para el 23/09/19 en la última reunión de 17h a 21h.

**UPDATE**: Se ha actualizado la fecha del montaje al 30/09/2019

Se realizará en el espacio de trabajo de Asrob (1.0.B06). Para ello se ha solicitado dicho espacio y ha sido cedido (Ver issue correspondiente [aquí](https://github.com/asrob-uc3m/actas/issues/202)).

Está previsto que aparezcan pintadas y

[2019-09-18 21:25] JorFru commented on #39
Echo de menos el acta de reunión pero la verdad es que da un poco de pereza.
Creo que sorry.

[2019-09-18 21:27] JorFru commented on #40
Tienes hasta el día 27 de septiembre para pensártelo

[2019-09-18 21:45] JorFru commented on #13
Refloto esto.

He comprobado que no dará tiempo para que lleguen a la feria de asociaciones que tenemos próximamente.

Pero me pongo con ello.
Hago un sondeo.
https://docs.google.com/spreadsheets/d/1I2nEqnJ5_FXxh-w9qBAnmmxpXl9k0_T_GYRYuneOO-U/edit?usp=sharing

[2019-09-18 21:52] L4g0 commented on #37
## Actividades Semana de Asociaciones

- CÓDIGO 14 - **2 de Octubre 16:00-19:15h**: UC3Music. Cómo sonorizar un concierto (3h) (Aula 3.S1.08) por @JorFru

- CÓDIGO 19 - **4 de Octubre 16:00-19:15h**: UC3Music. Cómo grabar una canción (3h) (Aula 3.S1.08) por @MrTommyGuns y @L4g0

Ambas han sido añadidas al Google Calendar.

[2019-09-19 07:24] David-Estevez commented on #40
Yo tampoco puedo :(

[2019-09-19 08:43] David-Estevez commented on #39
Creo que sorry.

:cry:

[2019-09-22 09:40] MrTommyGuns commented on #41
Queda aplazada la reunión de forma indefinida debido a la necesidad de que la pintura quede fijada correctamente

[2019-09-23 18:04] L4g0 commented on #41
Se ha aplazado dicha reunión, pero hemos mirado cosas de la batería que se encuentran recogidas aquí: https://github.com/UC3Music/electrotupah/issues/4 #

Reunión aplazada para el 30/09/2019

[2019-09-23 18:07] L4g0 opened #42 "Mejoras batería"
Bueno, debemos organizar los pedidos de material para la batería:

Aquí los detalles y temas hablados: https://github.com/UC3Music/electrotupah/issues/4

Importante serían los cables, que añadiría a los XLR y demás que se pidan para taller soldadura/para las jams.

También filamento 3D y alguien debería hacer el diseño 3D del casco, que no tengo ni idea.

En caso de elegir la estructura de madera

[2019-09-23 18:11] MrTommyGuns commented on #42
Para el filamento 3D propongo usar PET-G que no parece complicado de imprimir y es mecánicamente más resistente que el PLA.

[2019-09-23 20:28] David-Estevez commented on #42
¿Y no sería mejor una estructura de perfiles de aluminio, que serían más fáciles de desmontar para hacerla "portable"? @JorFru tiene experiencia con el tema...

[2019-09-23 23:55] JorFru commented on #42
Opino que la estructura tiene que quedarse de PVC
Tiene defectos que se pueden arreglar con un poco de ingenio.
Pero una estructura nuevame parece una inversión de tiempo muy grande que no nos podemos permitir por el momento.

[2019-09-24 08:06] David-Estevez commented on #42
Aunque no se termine el diseño, si hay dinero siempre se pueden comprar los materiales. Comprar por ejemplo la perfilería y dejarla apartada hasta que haya tiempo para diseñar unos soportes.

[2019-09-25 01:41] L4g0 opened #43 "Viaje a la OSHWDem /A Coruña/ 9-Nov-2019"
Que se apunten a continuación las personas interesadas en viajar. Y ya veremos la forma de conseguir las ayudas necesarias.

Tened en cuenta de que hay plazas tanto en UC3Music como en ASROB (https://github.com/asrob-uc3m/actas/issues/200). Ya nos distribuiremos cómo sea.

[2019-09-25 01:47] L4g0 opened #44 "17 Jam Session"
Hola, habría que ir pensando en la primera Jam del curso.

Como no tenemos los medios, seguiríamos dependiendo de @JorFru, aunque siempre cabe la posibilidad de hacer una más cutre sin su equipo.

Como fechas yo propongo la semana del 14 al 18 de octubre, o del 21 al 25.

Tareas:

- [x] Decidir fecha (25 de octubre)
- [x] Reservar Salón de Grados
- [x] Decidir personaje cartel
- [x] Hacer cartel
-

[2019-09-25 01:54] L4g0 commented on #3
La situación cada vez está peor:

La entrada es prácticamente inaccesible debido a las mesas de Fórmula, mientras que nuestro espacio del pasillo se hace cada vez menor por ambos lados.

Viendo que este año está comprometiéndose más gente deberíamos solucionar esta situación.

Si queremos trabajar allí necesitaremos como mínimo unas sillas de banco de trabajo y el espacio que nos corresponde.

[2019-09-25 07:36] JorFru commented on #43
Yo voy

Recordad el voto por correo

[2019-09-25 09:20] MrTommyGuns commented on #43
Yo me apunto manitos!

A que te refieres por el voto por correo @JorFru ?

[2019-09-25 09:58] JorFru commented on #43
Que si viajas a la OSHWDem no puedes votar en las generales del 10N

[2019-09-25 10:03] MrTommyGuns commented on #43
Aaaaah ostias vale!!

No me acordaba que hay que votar cada 3 meses, que despiste

[2019-09-26 11:38] David-Estevez commented on #3
Debéis quedar con ellos para aclarar la situación e imponer condiciones.

No puede ser que se adueñen del espacio de asociaciones fallecidas como cohetes, ni que se repartan el despacho a merced entre coches y motos. Tiene que haber una solución de consenso, que beneficie a todos.

Se debería haber planteado la sala más como un taller grupal que como un almacén para cada asociación, más en la líne

[2019-10-01 23:24] MrTommyGuns commented on #43
Ya se puede solicitar el voto por correo mans

[2019-10-07 18:06] L4g0 commented on #44
Jueves 24 fecha de la jam

[2019-10-08 10:10] JorFru commented on #40
Feria desestimada

[2019-10-08 10:10] #40 closed, assigned to nobody

[2019-10-08 10:11] #38 closed, assigned to JorFru, L4g0, MrTommyGuns

[2019-10-08 10:12] JorFru commented on #38
![photo_2019-10-08_12-11-58](https://user-images.githubusercontent.com/11017088/66387745-e23cad80-e9c4-11e9-988f-2edb03c2736f.jpg)
![photo_2019-10-08_12-11-59](https://user-images.githubusercontent.com/11017088/66387746-e2d54400-e9c4-11e9-9ece-745691a38138.jpg)
![photo_2019-10-08_12-12-02](https://user-images.githubusercontent.com/11017088/66387747-e2d54400-e9c4-11e9-87d6-5fa4d7f72529.jpg)
![photo

[2019-10-08 10:13] JorFru commented on #37
![photo_2019-10-08_12-12-51](https://user-images.githubusercontent.com/11017088/66387796-fbddf500-e9c4-11e9-9402-8e8d81002e99.jpg)
![photo_2019-10-08_12-12-52](https://user-images.githubusercontent.com/11017088/66387798-fbddf500-e9c4-11e9-887b-3065f7905e9e.jpg)
![photo_2019-10-08_12-12-53](https://user-images.githubusercontent.com/11017088/66387800-fbddf500-e9c4-11e9-9f1b-6f98aed2f34c.jpg)

[2019-10-08 10:14] #37 closed, assigned to JorFru, L4g0, MrTommyGuns

[2019-10-08 10:17] JorFru commented on #41
![photo_2019-10-08_12-16-33](https://user-images.githubusercontent.com/11017088/66388037-98a09280-e9c5-11e9-9f85-b3f62f6b57ee.jpg)
![photo_2019-10-08_12-16-33 (2)](https://user-images.githubusercontent.com/11017088/66388038-99392900-e9c5-11e9-980f-51d0f9764795.jpg)
![photo_2019-10-08_12-16-37](https://user-images.githubusercontent.com/11017088/66388039-99392900-e9c5-11e9-9522-0e9ec73bbe47.jpg)
![p

[2019-10-08 10:18] #41 closed, assigned to JorFru, L4g0, MrTommyGuns

[2019-10-08 12:03] David-Estevez commented on #41
@JorFru vuelca las fotos al drive tron! así las tenemos para carteles/memorias/eventos/postales/merch/etc.

[2019-10-14 00:55] JorFru opened #45 "Actualización directorio"
Hay que cambiar esto, es horroroso, de la época pleitiana, de cuando éramos UC3Music-e

[code]

[2019-10-21 22:06] L4g0 opened #46 "El Evento/Hackhatón con ASROB y GUL"
Bueno, se ha pensado hacer el evento el 30 de octubre y tenemos que:

- [ ]  Comprar materiales
- [ ] Elegir prueba(s)
- [ ] Buscar patrocinadores (¿pizza? o tal vez el GoTaco jajaj)

¿Seguiremos adelante? Deberíamos aprovechar que se ha propuesto como actividad del año 2019.

Les interesa esto a @JorFru @MrTommyGuns

[2019-10-21 22:31] MrTommyGuns commented on #46
We're so f*cked, tenemos una semana... Y no hemos pedido ni los componentes...
Había ya algo pedido del proyecto hackaton???

[2019-10-21 22:32] L4g0 commented on #46
Ooooooootra opción sería montarlo la semana del 4? Aunque tenemos la OSWHDem cerquita

[2019-10-21 22:33] MrTommyGuns commented on #46
Peroooo cuando es la fecha de entrega de las memorias??? Porque estoy tooo perdido!

[2019-10-22 07:23] David-Estevez commented on #46
Acordarse de que la última vez se usó stock de ASROB que igual interesaba reponer en señal de agradecimiento... :roll_eyes:

[2019-10-27 10:51] JorFru commented on #46
F

[2019-10-27 10:52] JorFru commented on #12
@L4g0 como usuario de Photoshop puedes modificar esto?

[2019-10-27 14:28] MrTommyGuns commented on #46
F

[2019-11-05 16:29] L4g0 commented on #44
Se hizo bien wena la jam, hasta hubo algo de jazz y todo

[2019-11-05 16:29] #44 closed, assigned to JorFru, L4g0

[2019-11-05 16:31] L4g0 opened #47 "18 Jam Session"
Hola, habría que ir pensando en la segunda Jam del curso.

Como no tenemos los medios, seguiríamos dependiendo de @JorFru, aunque siempre cabe la posibilidad de hacer una más cutre sin su equipo.

Como fechas hemos visto disponibles:
- jueves 14 nov
- **viernes 15 nov**
- martes 19 nov (raro porque es el único día libre de la semana, el resto hay movidas de best, puede que ocupen este tb)
- dos pr

[2019-11-05 17:46] JorFru commented on #44
Falta subir las fotos a Drive
Para luego tenerlas a mano a la hora de redactar la memoria.

[2019-11-16 15:21] David-Estevez opened #48 "Memoria de Asociaciones 2019"
Ha llegado el momento del año que tod@s esperábamos: la entrega de la Memoria de Asociaciones de 2019

# Resumen
* **Qué hay que hacer**:  Rellenar y entregar la Memoria de Asociaciones, que incluye todo lo que hemos hecho este año.
* **Cuándo es el plazo de entrega**: el plazo acaba el **18 de Diciembre de 2018**.
* **Quién se debería encargar de este ~~marrón~~ trámite**: lo suyo sería la Junta,

[2019-11-17 15:06] JorFru commented on #47
no se imprimieron los carteles por pura procastinación.

Gracias a todos los participantes y sobre todo a los organizadores.

[2019-11-17 15:06] #47 closed, assigned to JorFru, L4g0, MrTommyGuns

[2019-11-17 23:21] L4g0 commented on #43
Se acabó con buenos resultados y una Jurassic Jam.

Fotos del evento por acá:
https://photos.google.com/share/AF1QipPqVaSdQ4kUH9Svj_C0gkLOZlosiwlzd9Z11j-NwOX8I2cVa4-LuKnjRd4ASAHMSg?key=ejZPTUxqMXVXNXFZLU1RWDRRaVZtNm5jcXl5QUZR

[2019-11-17 23:21] #43 closed, assigned to JorFru, L4g0, MrTommyGuns

[2019-11-17 23:25] L4g0 commented on #2
El único componente que falta para poder realizar la Jam sin depender de @JorFru es una mesa de mezclas con emulación de amplis, efectos y demás.

[2019-11-17 23:29] MrTommyGuns commented on #2
Y microsss

[2019-11-17 23:30] L4g0 commented on #2
@MrTommyGuns esos se pueden pedir en la uni creo (como las pantallas)

[2019-11-18 00:46] JorFru commented on #2
Tienen algún 58 disponible, que ya nos lo han prestado alguna vez.

[2019-12-05 19:58] #46 closed, assigned to nobody

[2019-12-09 22:18] JorFru commented on #42
Valoro comprar perfilería en la convocatoria del 2020

[2019-12-28 12:04] L4g0 commented on #48
Hecho!

[2019-12-28 12:04] #48 closed, assigned to nobody

[2020-01-09 16:15] JorFru commented on #45
Se requieren ideas

[2020-01-09 16:16] JorFru commented on #31
Podcast subido
https://soundcloud.com/uc3music/primer-podcast-uc3music-para

A ver si grabamos más material, la experiencia estuvo chula.

[2020-01-09 16:16] #31 closed, assigned to nobody

[2020-02-04 10:44] L4g0 opened #49 "Reunión inicio segundo cuatri"
## TEMAS DE ACTUALIDAD

### T3chFest
Del 12 al 14 de marzo es el [T3chFest](https://t3chfest.es/2020/).
Es un evento con charlas y talleres de tecnología que se hace en la universidad. Además este año hay bastantes relacionadas con el audio.

Las entradas para estudiantes salen el 28 de enero. Van a reservar unas entradas para comunidades tecnológicas, como es nuestra asociación (5 entradas como m

[2020-02-04 18:01] JorFru commented on #13
Alguien interesado?
En cosa de un mes empiezan los Arduinos Day y váis a querer tenerlas.

[2020-02-04 18:05] MrTommyGuns commented on #13
Yo yo yo yo!!

[2020-02-06 13:16] L4g0 commented on #13
Se ha creado encuesta en Telegram

[2020-02-23 03:57] #49 closed, assigned to L4g0, MrTommyGuns

[2020-02-23 03:57] JorFru commented on #34
inactivo?

[2020-02-23 04:02] JorFru commented on #42
actualmente este tema se está hablando en su respectiva issue

https://github.com/UC3Music/electrotupah

[2020-02-23 04:06] #42 closed, assigned to L4g0

[2020-02-23 04:51] JorFru commented on #16
https://github.com/UC3Music/IceScreamer
Este existe!

[2020-03-16 16:22] JorFru commented on #13
[PuaCamisetas.zip](https://github.com/UC3Music/Gestiones-y-Movidas/files/4339138/PuaCamisetas.zip)
Simplemente hay que mandar estos archivos a la imprenta
Y decir que quieres la púa en rojo y el texto en negro.

La última vez se supone que usaron este color C:10%, M:97%, Y:91%, K:0%, pero quizás sudaron de nosotros.
El color del texto es negro intenso.